.App {
  background-color: #93ba85;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.todo-card {
  width: 30em;
  margin: .2em 0;
  border-radius: 5px;
  background-color: #231d1e;
  color: white;
  text-align: center;
}

.todo-header {
 border-bottom: 2px solid black;
 margin-bottom: .2em;
}

.todo-form {
  border-bottom: 2px solid black;
}

.todo-form h1 {
  margin-bottom: .2em;
}


.form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: .5em;
}

.form-control label {
  font-size: 1.2em;
}

.form-control input {
  width: 18em;
  height: 2em;
}

.todo-form button {
  width: 20em;
  height: 3em;
  border-radius: 5px;
  background-color: #151112;
  color: white;
  margin-top: .5em;
  cursor: pointer;
  margin-bottom: .5em;
}

.todo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: start;
  margin-bottom: 0;
  margin-left: 1em;
}


.todo-list .todo h3 {
  font-size: 1em;
  margin-bottom: 0;
}

.todo-list .todo .todo-done {
  text-decoration: line-through;
  color: #93ba85;
}

.todo-list .todo p {
  margin: 0
}

.todo-list .todo .actions {
  margin-top: .3em;
}

.todo-list .todo .actions span{
  cursor: pointer;
  margin: 0;
  margin-right: .5em;

}

.todo-list .todo .actions span svg{
  transition: 0.2s;

}

.todo-list .todo .actions span svg:hover{
  color: #93ba85

}


@media screen and (max-width: 500px) {
  .todo-card {
    width: 20em;
  }

}

@media screen and (max-width: 330px) {
  .todo-card {
    width: 19em;
  }

  .todo-list {
    flex-direction: column;
    justify-content: center;
  }
}